/* footer */
.footer {
  color: #d8d9d9;  
  text-align: center;
  padding: 1rem 0;  
  margin-top: 2rem;  
  display: flex;
  flex-direction: column;
  min-width: max-content;
}

.footer-text {
  margin-top: 150px;
  font-size: 1rem;
  color: #2e4e7e; 
  font-weight: 500;
}

.footer-names {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0 0 0;  
  font-size: 14px;
  color: #75d1ab;  
}

.footer-names li {
  margin-bottom: 0.5rem;  
}

.footer-info {
  font-size: 0.9rem;
  color: #0a1627;  
  margin-top: 1rem;  
  margin-bottom: 2rem;
}


