/* footer */
.footer {
  background-color: #415e66;  
  color: #f8f7f2;  
  text-align: center;
  padding: 1rem 0;  
  width: 100%;
  position: relative;
  margin-top: 2rem;  
}

.footer-text {
  font-size: 1rem;
  color: #f8f7f2; 
  margin-bottom: 0.5rem;  
  font-weight: 500;
}

.footer-names {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0 0 0;  
  font-size: 14px;
  color: #f8f7f2;  
}

.footer-names li {
  margin-bottom: 0.5rem;  
}

.footer-info {
  font-size: 0.9rem;
  color: #d8e3df;  
  margin-top: 1rem;  
}


