/* Estilos para el login */
body {
  background-color: #f8f7f2; /* Fondo sólido */
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loginform {
  max-width: 800px;
  min-width: 450px;
  width: 100%;
  height: auto;
  margin: 10px auto 0 auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  margin-bottom: 300px;
}

#headerTitle {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 1rem;
  color: #415e66; /* Color actualizado */
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.row input {
  width: 90%;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border: none;
  box-shadow: inset 0px -3px 0px 0px rgba(120, 145, 149, 0.2); /* Color de sombra actualizado */
  transition: box-shadow 0.2s ease-in;
  border-radius: 10px;
  background-color: #d8e3df; /* Color de fondo más claro para inputs */
}

.row input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(65, 94, 102, 0.7); /* Sombra en el foco actualizada */
  outline: none;
}

.row label {
  color: rgba(120, 145, 149, 0.9); /* Color actualizado */
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  align-self: flex-start;
}

.row button {
  width: 95%;
  height: 40px;
  font-weight: 700;
  color: white;
  background: linear-gradient(90deg, rgba(120, 145, 149, 1) 0%, rgba(65, 94, 102, 1) 100%); /* Degradado más vibrante */
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover {
  opacity: 0.8;
}

/* Estilos para el signin */
body {
  background-color: #f8f7f2; /* Fondo sólido */
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 100px;
}

#signinform {
  max-width: 800px;
  min-width: 450px;
  width: 100%;
  height: auto;
  margin: 5px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 120px;
  margin-bottom: 200px;
}

#headerTitle {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding-bottom: 1rem;
  color: #415e66; /* Color actualizado */
}

/* Estilos para los inputs */
.row input,
.row select {
  width: 90%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  background-color: #d8e3df; /* Color de fondo más claro para inputs */
  box-shadow: inset 0px -3px 0px 0px rgba(120, 145, 149, 0.2);
  transition: box-shadow 0.2s ease-in-out;
  height: 50px;
}

.row input:focus,
.row select:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(65, 94, 102, 0.7); /* Sombra en el foco actualizada */
  outline: none;
}

.row select {
  transition: box-shadow 0.2s ease-in-out;
}

.row button {
  width: 95%;
  height: 45px;
  font-weight: 700;
  color: white;
  background: linear-gradient(90deg, #40b5ad, #a2c3a6); /* Nuevo degradado */
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: opacity 0.25s ease-out, background-color 0.3s ease-out;
}

.row button:hover {
  opacity: 0.8;
}

.row button:active {
  background-color: #003049;
}

#button {
  padding-bottom: 1rem;
}

.row p {
  padding: 1px;
  align-items: center;
}

/* Estilos del checkbox */
.row input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  appearance: none;
  background-color: #d8e3df;
  border: 1px solid #d8e3df;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* Necesario para posicionar el tick */
  display: inline-block;
  vertical-align: middle; /* Alinea el checkbox verticalmente */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.row input[type="checkbox"]:checked {
  background-color: rgba(65, 94, 102, 0.7); /* Fondo cuando se marca el checkbox */
  transform: scale(1.1);
}

.row input[type="checkbox"]:checked::after {
  content: '\2713'; /* Marca de check */
  font-size: 12px;
  color: white;
  position: absolute;
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajuste final para centrar completamente */
  font-weight: bold;
  transition: opacity 0.2s ease-in-out;
}

.row input[type="checkbox"]:hover {
  box-shadow: inset 0px -3px 0px 0px rgba(65, 94, 102, 0.5);
}

/* Alineación de los títulos y labels */
.row label {
  color: rgba(120, 145, 149, 0.9); /* Color de texto actualizado */
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  align-self: flex-start;
  display: inline-block; /* Asegura que se alineen correctamente */
  vertical-align: middle; /* Centra el texto verticalmente */
  margin-top: 0; /* Elimina el margen superior si es necesario */
}

/* Estilos lista de sugerencias */
.suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ccc;
  position: relative;
  background-color: white;
  width: calc(100% - 50px); 
  z-index: 1000; 
  top: -1.7rem; 
  left: 0;
  border-radius: 0 0 10px 10px; 
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.suggestions-list li:last-child {
  border-bottom: none; /* Elimina el borde del último elemento */
}

.suggestions-list li:hover {
  background-color: #f8f7f2; /* Fondo claro en hover */
}

.selected-subjects {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 elementos por fila */
  gap: 10px;
  margin-bottom: 15px;
}

.chip {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #d8e3df;
  border-radius: 15px;
  font-size: 0.9rem;
  color: #415e66;
}

.chip .close {
  background: none;
  border: none;
  color: #415e66;
  font-size: 1rem;
  margin-left: 5px;
  cursor: pointer;
}