/* Estilos para el Navbar */
.navbar {
  width: 100%;
  background-color: #F5F5F5;
  padding: 0.8rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  margin-bottom: 20px;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.navbar-container button {
  border: 1px;
}

.navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #6abaa4;
  /* Color inicial */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  /* Si necesitas animación */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7), 0px 0px 10px rgba(106, 186, 164, 0.5);
}

.navbar-logo:hover {
  color: #6abaa4;
  /* Mantiene el color al pasar el cursor */
  text-decoration: none;
  /* Asegura que no se subraye */
}

.navbar-links {
  display: flex;
  justify-content: flex-end !important;
  width: 100%;
  margin: auto;
}

.navbar-link {
  font-size: 1.3rem;
  font-weight: 400;
  color: #789195;
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 25px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: inline-block;
  margin-right: 1rem;
}

.navbar-link:last-child {
  margin-right: 0;
}

/* Efecto hover  */
.navbar-link:hover {
  background-color: #96c7ba;
  color: #f8f7f2;
}

.navbar-link:hover {
  color: inherit;
  /* Mantiene el color actual en lugar de cambiarlo */
  text-decoration: none;
  /* Elimina el subrayado (si se aplica) */
}

.navbar-link:focus {
  outline: none;
  box-shadow: 0 0 0 2px #789195;
}

.container-fluid {
  margin-left: 110px;
}

.suggestions-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc;
  position: absolute;
  background-color: white;
  width: auto;
  z-index: 1000;
  top: calc(100% + 3px);
  left: 12px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.suggestions-list li:last-child {
  border-bottom: none;
}

.suggestions-list li:hover {
  background-color: #f8f7f2;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column; /* Los elementos se apilan verticalmente */
    align-items: flex-start; /* Alinea los elementos al inicio */
  }

  .navbar-links {
    width: 100%; /* Asegura que los enlaces ocupen todo el ancho */
    flex-direction: column; /* Los enlaces se apilan verticalmente */
    align-items: center; /* Centra los enlaces */
  }

  .navbar-link {
    width: 100%; /* Cada enlace ocupa todo el ancho disponible */
    text-align: center; /* Centra el texto */
    padding: 1rem 0; /* Espaciado para facilitar el toque */
  }
}