@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* General Reset */
* {
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  .dashboard-container {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  
/* Perfil */
  .container-perfil {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .profe-image {
    margin-left: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; /* Para que la imagen sea redonda */
    border: 4px solid #40b5ad; /* Borde que resalta la imagen */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la imagen */
  }
  
  .container-perfil h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #415e66;
    margin: 0;
  }
  

/* tarjetas */
.tarjetas .card {
    list-style: none;
}

.tarjetas .card h1 {
    font-size: 2rem;
    font-weight: 400;
    color: #2c3e50;
}

.tarjetas .cards .card:hover {
    background: linear-gradient(90deg, #c1f4e8, #b8e5e4);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}


.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #b9d8d8;
}

table {
    padding: 10px;
}

.tarjetas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px;
    border-radius: 10px;
    margin-left: auto;
}

.tarjetas .cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: auto;
}

.tarjetas .cards .card {
    width: 200px;
    height: 120px;
    background: linear-gradient(90deg, #64d6cf, #bde2c1);
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    text-align: center;
}

.tarjetas .cards .card h1 {
    font-size: 2rem;
    color: #34495e;
    font-weight: 600;
}

.tarjetas .cards .card h3 {
    font-size: 1rem;
    color: #34495e;
}

/* contenidos 2 y 3 */

.content-2 {
    background-color: #f9f9f9;
    flex: 1 1 100%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.content-3 {
    background-color: #f9f9f9;
    flex: 1 1 100%;
    max-width: 1000px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.title h2 {
    margin-top: 10px;
    font-size: 1.9rem;
    font-weight: 700;
    color: #34495e;
}

.tarjetas .content-2 {
    min-height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tarjetas .content-2 .new-students {
    flex: 2;
    background: white;
    min-height: 50vh;
    margin: 0 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
}

.vermas {
    background: #40b5ad;
    color: white;
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 4px;
    text-decoration: none;
}

.vermas:hover {
    background: #369e93;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

/* tablas */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table th {
    text-align: left;
    padding: 10px;
    background-color: #f2f2f2;
    font-size: 1, 9rem;
    color: #415e66;
}

table td {
    padding: 10px;
    font-size: 1, 6rem;
    color: #415e66;
    border-bottom: 1px solid #ddd;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

h2.calendar-header {
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 700;
    color: #4eb49c;
}

/* agenda */


@media screen and (max-width: 1050px) {
    .side-menu li {
        font-size: 18px;
    }
}

@media screen and (max-width: 940px) {
    .side-menu li span {
        display: none;
    }

    .side-menu {
        align-items: center;
    }

    .side-menu li img {
        width: 40px;
        height: 40px;
    }

    .side-menu li:hover {
        background: #f05462;
        padding: 8px 38px;
        border: 2px solid white;
    }
}

@media screen and (max-width:536px) {
    .brand-name h1 {
        font-size: 16px;
    }

    .container .content .cards {
        justify-content: center;
    }

    .side-menu li img {
        width: 30px;
        height: 30px;
    }

    .container .content .content-2 .recent-payments table th:nth-child(2),
    .container .content .content-2 .recent-payments table td:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .dashboard-container {
        grid-template-areas:
            "tarjetas"
            "content-2"
            "content-3";
        grid-template-columns: 1fr;
    }
}
