@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: poppins, sans-serif;
}

.view-container {
  margin-top: 110px;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding: 3rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  gap: 2rem; 
  width: 1900px;
  height: 1050px;
  text-align: center; 
}

.profile-card {
  align-self: flex-start; 
  flex-shrink: 0; 
  position: sticky; 
  top: 20px; 
  max-width: 400px; 
  height: auto;
  z-index: 10; 
  height: 950px;
  width: 400px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  flex-direction: column; 
  justify-content: space-between; 
  gap: 1rem; 
  border-radius: 10px;
}

.profile-card {
  background: linear-gradient(135deg, #f6f6f6, #8eb4be5d);
}

.profile-card img-container {
  width: 150px; 
  height: 150px; 
  margin: 0 auto; 
  overflow: hidden; 
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd; 
}

.profile-card .profile-pic {
  margin-top: 5px;
  overflow: hidden;
}

.profile-card .profile-pic {
  border-radius: 10px;
}

.profile-card .profile-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.profile-info .user-info h2 {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  color: #415e66;
}

.profile-info .user-info h4 {
  background: linear-gradient(90deg, #40b5ad, #a2c3a6);
  font-weight: 400;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 8px;
  color: #FFFFFF;
}

.calificaciones {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #415e66;
}

/* Estilo para las estrellas llenas */
.star {
  font-size: 20px;
  color: #40b5ad; 
  cursor: pointer;
}

/* Estilo para las estrellas vacías */
.empty-star {
  color: #D3D3D3; 
}

.contact-info {
  margin: 0 auto; 
  padding: 1rem; 
  background-color: #ffffff; 
  border-radius: 8px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
  max-width: 90%; 
  text-align: left; 
  margin-top: 5px;
}

.contact-info p {
  margin: 0.5rem 0; 
}

.contact-info a {
  color: #607848; 
  text-decoration: none; 
}

.contact-info a:hover {
  text-decoration: underline; 
}

/* about section */

.about, .comments-card, .price-card {
  flex: 1; 
  max-width: 1000px; 
  width: 100%;
}

.about {
  margin: 0 auto; 
  padding: 1rem;
  background-color: #fff; 
  border-radius: 8px; 
  max-width: 90%; 
  text-align: left; 
  font-size: 1rem; 
  color: #333; 
  flex: 1 1 100%;
  max-width: 1000px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.about h1 {
  color: #415e66;
  font-weight: 500;
  margin-bottom: 1.1rem;
  position: relative;
  display: inline-block;
  font-size: 3.5rem;
}

.about h1::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -50%;
  width: 45%;
  height: 3px;
  background: linear-gradient(45deg, #40b5ad, #a2c3a6);
}

.about p {
  color: #555;
  line-height: 1.6;
}

/* comentarios */

.comments-card {
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 100%;
  height: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

.comments-card h3 {
  color: #415e66;
  font-weight: 600;
  font-size: 2rem;
}

.comments-card .comments-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 400px;
  overflow-y: auto;
  /* Muestra scroll si la lista excede el contenedor */
  padding-right: 10px;
  /* Añade espacio para el scroll */
}

.comments-card .comments-list::-webkit-scrollbar {
  width: 8px;
  /* Personaliza el ancho del scrollbar */
}

.comments-card .comments-list::-webkit-scrollbar-thumb {
  background: #a2c3a6;
  /* Color del scroll */
  border-radius: 4px;
}

.comments-card .comments-list::-webkit-scrollbar-track {
  background: #f9f9f9;
}

.comments-card .comment-item {
  background-color: #edf7ff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.95rem;
  color: #333;
}

/* card */
.comments-card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}


/* price-card */
.comments-card {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* body price-card */
.price-card .card-body {
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
}

/* Título de la card */
.card-body h5 {
  color: #415e66;
  font-weight: 600;
  font-size: 2rem;
}

/* Ajustes de texto dentro de la card */
.price-card .card-body p {
  font-size: 20px;
  color: #000000;
  line-height: 1.5;
  font-weight: 300;
}

/* Ajustes de la card */
.price-card {
  max-width: 100%;
  margin-top: 1rem;
}

.card-body {
  padding: 10px;
}

/* Título de la card */
.price-card .card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Subtítulo de la card */
.card-body .card-subtitle {
  font-size: 1rem;
  color: #333;
}

/* Enlaces de la card */
.card-body a.card-link {
  margin-top: 1rem;
}

/* Ajustes de tamaño de las estrellas para pantallas pequeñas */
.rating .star {
  font-size: 1.2rem;
}

/* Estilo para el botón Modificar */
button {
  margin: 5px;
  background: linear-gradient(45deg, #40b5ad, #a2c3a6); /* Degradado brillante */
  border: 2px solid #4efff3; /* Borde del botón */
  color: #fff; /* Color del texto */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: all 0.3s ease; /* Transición suave */
}

/* Efecto hover */
button:hover {
  background: linear-gradient(145deg, #61e9e9, #8feaa6); 
  border-color: #ffffff; 
}



@media (max-width: 768px) {
  .view-container {
    flex-direction: column;
    padding: 1.5rem;
  }

  .profile-card {
    width: 100%;
    margin-bottom: 2rem;
  }

  .about, .comments-card, .price-card {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .view-container {
    margin-top: 200px;
    flex-direction: column; /* Solo cambia la dirección de los elementos en pantallas pequeñas */
    padding: 1.5rem; /* Se ajusta el padding en pantallas pequeñas */
    width: auto; /* Asegura que el contenedor no se desborde */
    height: auto; /* Ajusta la altura en pantallas pequeñas */
  }

  .profile-card {
    width: 100%; /* Asegura que la tarjeta de perfil ocupe todo el ancho en pantallas pequeñas */
    margin-bottom: 2rem; /* Añade espacio entre las tarjetas */
    height: auto; /* Permite que la tarjeta de perfil se ajuste a su contenido */
    position: relative; /* Se quita el sticky para evitar que se desborde */
    top: 0; /* Remueve el sticky */
  }

  .about, .comments-card, .price-card {
    width: 100%; /* Asegura que las cards ocupen todo el ancho */
    max-width: none; /* Evita que se limite el ancho máximo */
    margin-top: 1rem; /* Añade espacio entre las cards */
  }

  /* Ajuste del tamaño de las estrellas para pantallas pequeñas */
  .star {
    font-size: 1.5rem; /* Ajusta el tamaño de las estrellas para pantallas pequeñas */
  }

  /* Ajuste de la imagen del perfil */
  .profile-card img-container {
    width: 120px; /* Ajusta el tamaño de la imagen */
    height: 120px; /* Ajusta el tamaño de la imagen */
  }

  /* Ajuste de los textos */
  .about h1 {
    font-size: 2.5rem; /* Ajusta el tamaño del título */
  }

  .about p {
    font-size: 1rem; /* Ajusta el tamaño del texto */
  }

  /* Ajusta los márgenes y paddings en las cards */
  .contact-info {
    max-width: 100%; /* Hace que la card ocupe todo el ancho */
    padding: 1rem; /* Ajusta el padding */
  }
}

.volver a {
  display: flex;
  justify-content: baseline;
  font-size:large;
}